<div class="flex h-screen">
  <div class="m-auto flex flex-col ">
    <h2 class="m-auto text-nord5 text-2xl p-2 ">Reset Password</h2>
    <div class="bg-nord12">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="bg-nord5 p-4">
      <%= form_for(resource, 
                   as: resource_name, 
                   url: password_path(resource_name), 
                   html: { method: :post }) do |f| %>
        <div class="field py-1">
          <%= f.label :email, :class => 'text-nord0 text-lg'%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
            :class => 'bg-nord0 text-nord5 pl-2 w-full' %>
        </div>
    </div>

    <div class="actions m-auto w-full">
      <%= f.submit "Send me reset instructions", 
        :class => 'bg-nord13 text-nord0 w-full p-2' %>
    </div>
  </div>
</div>
<% end %>


