<div class="grid grid-cols-2 md:grid-cols-3 gap-6 px-4 my-4 py-4 text-center text-xl">
  <div class="text-nord5 mx-8">
    <h2 class="border-b-2">Total Cost</h2>
    <h2 >$
      <%= number_with_delimiter(@reqs.sum(:req_total), :delimiter => ',') %>
    </h2>
  </div>
  <div class="text-nord5  mx-8">
    <h2 class="border-b-2">Amount Funded</h2>
    <h2 >$
      <%= number_with_delimiter(@reqs.sum(:funding_secured), :delimiter => ',') %>
    </h2>
  </div>
  <div class="text-nord5 mx-8 ">
    <h2 class="border-b-2">Remaining Cost</h2>
    <h2 >$
      <%= number_with_delimiter((@reqs.sum(:req_total) - @reqs.sum(:funding_secured)), 
                                :delimiter => ',') %>
    </h2>
  </div>

  <div class="text-nord5 mx-8 ">
    <h2 class="border-b-2">User Def Criteria </h2>
    <h2 ><%= lineage(current_user) %></h2>
  </div>
  <div class="text-nord5 mx-8 ">
    <h2 class="border-b-2">Total Reqs </h2>
    <h2 ><%= @reqs.count %></h2>
  </div>


  <div class="self-center text-center">
    <%= link_to 'Create', new_req_path(@reqs), 
      class: 'hover:bg-nord5 hover:text-nord0 text-nord5 p-2 m-4 border border-nord-5' %>
  </div>
</div>
