<nav class="flex flex-row items-center px-2 justify-between bg-nord5 text-nord0">
  <a href=/reqs >
    <pre class="text-xs font-black text-nord0 px-2 pt-2">
  / _ \
\_\(_)/_/
 _//"\\_  
  /   \
    </pre>
  </a>
  <h1><%= @title %></h1>
  <div>
  <% if user_signed_in? %>
    <div class="pr-2">
    <% if current_user.fma_role == true || current_user.hq_role == true %> 
      <%= link_to 'Admin Panel', rails_admin_path %> 
      <strong class="text-9xl"> | </strong>
    <% end %> 
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></div>   
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %> </div>
  <% end %>
  </div>
</nav>
<h2 class="notice bg-nord5 text-nord0 text-center"><%= notice %></h2>
<h2 class="alert bg-nord5 text-nord0 text-center"><%= alert %></h2>
