<div class="flex h-screen">
  <div class="m-auto flex flex-col ">
    <h2 class="m-auto text-nord5 text-2xl p-2 ">Please sign in</h2>
    <div class="bg-nord5 p-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field py-1">
          <%= f.label :email, :class => 'text-nord0 text-lg'%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            :class => 'bg-nord0 text-nord5 pl-2' %>
        </div>

        <div class="field py-1">
          <%= f.label :password, :class => 'text-nord0 text-lg' %><br />
          <%= f.password_field :password, autocomplete: "current-password", 
            :class => 'bg-nord0 text-nord5 pl-2' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, :class => 'color-nord5' %>
            <%= f.label :remember_me, :class => 'text-nord0' %>
          </div>
        <% end %>
        </div>
          <div class="actions m-auto w-full">
            <%= f.submit "Log in", data: { disable_with: "please reload" }, 
              :class => 'bg-nord14 w-full p-2' %>
          </div>
    <% end %>
    <div class="text-nord5 flex flex-row justify-between p-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
