<div class="flex flex-row">
  <div class="text-nord5 flex justify-between ">
    <div class="text-2xl m-4"><%= req.owner_priority %></div>
    
  </div>

<%= link_to req do %>
  <div class="bg-nord5 px-1 text-nord0 h-52 w-72">
    <div class=" flex flex-wrap justify-center content-center align-middle text-2xl text-nord0 h-20 border-b-2 border-nord0 mb-2">
      <div class="text-center line-clamp-2"><%= req.title %></div>
    </div>
    <div class="flex px-2 justify-between pt-2">
      <div class="text-xl">
        <div class="flex justify-between"><div>OE:</div> <%= req.operating_entity %></div>
        <div class="flex justify-between"><div>Grp:</div> <%= req.grp %></div>
        <div class="flex justify-between"><div>Unit:</div> <%= req.unit %></div>
      </div>
      <div class="text-xl">
         <div class="pl-4 text-right"><%= req.req_total %></div>
         <div class="pl-4 text-right border-b border-nord0">- <%= req.funding_secured %></div>
         <div class="pl-4 text-right">$<%= number_with_delimiter(req.req_total - req.funding_secured, :delimiter => ',') %></div>
       </div>
    </div>
  </div>
<% end %>
<div class="text-nord5 text-lg px-2">
  <p class="pt-2">Justification: <%= req.answer_for(:justification) %></p>
  <p class="pt-2">Impact if not funded: <%= req.answer_for(:impact) %></p> 
</div>
<div class="h-52 w-72 border border-nord5">
  <p class="text-nord5">Prioritization stuff</p>
</div>
</div>
