<tr>
  <td><%= req.owner_priority %></td> 
  <td><%= req.title %></td> 
  <td><%= req.answer_for(:justification) %></td> 
  <td><%= req.answer_for(:impact) %></td> 
  <td><%= req.req_total %></td> 
</tr>
