<%= form_with(model: @req) do |form| %>
  <% if req.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(req.errors.count, "error") %> prohibited this req from being saved:</h2>
      <ul>
        <% req.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="m-4 mt-8 text-nord5 text-2xl">Requirement Information</h1>
  <div id="about req" class="m-4 grid grid-cols-2 md:grid-cols-3 gap-8">
    <div class="field flex flex-col">
      <%= form.label :title,
 						class: "text-lg text-nord5" %>
      <%= form.text_field :title,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2 " %>
    </div>
    <div class="field flex flex-col">
      <%= form.label "Total Cost",
 						class: " text-lg text-nord5" %>
      <%= form.text_field :req_total,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
      <%= form.label "Funding Secured So Far",
 						class: " text-lg text-nord5" %>
      <%= form.text_field :funding_secured,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
      <%= form.label :group,
 						class: " text-lg text-nord5" %>
      <%= form.text_field :group,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
      <%= form.label :unit,
 						class: " text-lg text-nord5" %>
      <%= form.text_field :unit,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
      <%= form.label "Point of Contact",
 						class: " text-lg text-nord5" %>
      <%= form.text_field :point_of_contact,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
        <%= form.label "Operating Entity",
 						class: " text-lg text-nord5" %>
        <%= form.text_field :operating_entity,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
        <%= form.label "Method of Purchase",
 						class: " text-lg text-nord5" %>
        <%= form.text_field :method_of_purchase,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
        <%= form.label :pec,
 						class: " text-lg text-nord5" %>
        <%= form.text_field :pec,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
        <%= form.label :rccc,
 						class: " text-lg text-nord5" %>
        <%= form.text_field :rccc,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <div class="field flex flex-col">
        <%= form.label :eeic,
 						class: " text-lg text-nord5" %>
        <%= form.text_field :eeic,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
    </div>
    <% if current_user.fma_role == true %> 
      <div class="field flex flex-col">
          <%= form.label :priority,
 						class: " text-lg text-nord5" %>
          <%= form.text_field :priority,
 						class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
      </div>
    <% end %>

  </div>
  <div class=""> 
    <h1 class="m-4 mt-8 text-nord5 text-2xl">Background</h1>
    <div id="background" class="grid grid-cols-1 md:grid-cols-2 gap-2 px-4 py-4">
      <%= form.fields_for :answers do |af| %>
        <div class="field">
          <%= af.hidden_field :question_id, value: af.object.question_id%> 
          <%= af.label af.object.question.text,
 						class: "text-nord5 text-lg" %>

          <% if af.object.type?(:text) %>
            <%= af.text_area :text, rows: 6, style:'width:100%;', 
              class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
          <% end %>

          <% if af.object.type?(:number) %>
            <%= af.number_field :number, style:'width:100%;', 
              class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
          <% end %>

          <% if af.object.type?(:date) %>
            <%= af.date_field :date, style:'width:100%;', 
              class: "bg-nord1 text-nord5 border-l border-nord5 pl-2" %>
          <% end %>

          <% if af.object.type?(:boolean) %>
            <%= af.check_box :boolean, 
              class: "h-4 w-4" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex flex-row justify-around px-8 py-8 mb-4">
    <button class="px-4 py-4 bg-nord0 border border:nord11 text-nord5 hover:bg-nord11 hover:border-nord11" >
      <%= link_to 'Abandon', reqs_path %>
    </button>
    <div class="actions">
      <%= form.submit :class => 'px-4 py-4 text-nord5 hover:text-nord0 bg-nord0 border border-nord5 hover:border-nord14 hover:bg-nord14' %>
    </div>
  </div>


<% end %>
