<%= form_with(model: req) do |form| %>
  <% if req.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(req.errors.count, "error") %> prohibited this req from being saved:</h2>

      <ul>
        <% req.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.text_field :group %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :pec %>
    <%= form.text_field :pec %>
  </div>

  <div class="field">
    <%= form.label :mop %>
    <%= form.text_field :mop %>
  </div>

  <div class="field">
    <%= form.label :poc %>
    <%= form.text_field :poc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
