<% @title="All Requirements for #{lineage(current_user)}" %>

<%= form_tag('/reqs/import', multipart: true) do %>
  <%= file_field_tag 'upload' %>
  <%= submit_tag('upload') %>
<% end %>

<%= render "shared/infopanel" %>

<%= render "shared/filterbar" %>

<div class="flex flex-row flex-wrap justify-around gap-6 m-8">
  <%= render @reqs %>  
</div>
