<p id="notice"><%= notice %></p>

<h1>Reqs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Cost</th>
      <th>Group</th>
      <th>Unit</th>
      <th>Pec</th>
      <th>Mop</th>
      <th>Poc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reqs.each do |req| %>
      <tr>
        <td><%= req.name %></td>
        <td><%= req.title %></td>
        <td><%= req.cost %></td>
        <td><%= req.group %></td>
        <td><%= req.unit %></td>
        <td><%= req.pec %></td>
        <td><%= req.mop %></td>
        <td><%= req.poc %></td>
        <td><%= link_to 'Show', req %></td>
        <td><%= link_to 'Edit', edit_req_path(req) %></td>
        <td><%= link_to 'Destroy', req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Req', new_req_path %>
