<% @title="All Requirements for #{lineage(current_user)}" %>
<%= form_tag('/reqs/import', multipart: true) do %>
  <%= file_field_tag 'upload' %>
  <%= submit_tag('upload') %>
<% end %>
<h1 class="text-nord5"> 
  2BW UFR Totals: $<%= number_with_delimiter(@reqs.sum(:req_total), :delimiter => ',') %>
</h1>

<h1 class="text-nord5"> current user def criterion = <%= lineage(current_user) %> </h1>

<%= render "shared/filterbar" %>

<div class="flex flex-row flex-wrap justify-around gap-6 m-8">
  <%= render @reqs %>  
</div>
