<p id="notice"><%= notice %></p>
<table class="bg-nord5 text-nord0 table-auto w-full">
  <thead  >
    <tr class="bg-nord5 text-nord0">
      <th class="px-2 py-8">Title</th>
      <th class="px-2 py-8"><%= sortable "req_total", "Req Total" %></th>
      <th class="px-2 py-8">Funding Secured So Far</th>
      <th class="px-2 py-8">Method of Purchase</th>
      <th class="px-2 py-8">18SA or F6790?</th>
      <th class="px-2 py-8">Group</th>
      <th class="px-2 py-8">Unit</th>
      <th class="px-2 py-8">Line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="bg-nord0 text-nord5">
    <% @reqs.each do |req| %>
      <tr class="gap-2 ">
        <td class="border border-nord5 py-4 px-4"><%= req.title %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.req_total %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.funding_secured %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.method_of_purchase %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.is_18SA_or_F6790? %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.group %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.unit %></td>
        <td class="border border-nord5 py-4 px-4"><%= req.pec %>
            <%= req.rccc %>     
            <%= req.eeic %></td>
        <td class="border border-nord0 px-2 bg-nord5">
            <button class="text-nord0">
              <%= link_to 'Show', req %>
            </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


