<% @title=@req.title %>
<div class="grid grid-cols-1 md:grid-cols-2 text-nord5 px-4 py-4 gap-2">
  <% @req.answers.each do |a|  %>
    <div class="flex flex-col ">
      <strong><%= a.question.text %></strong>
      <%= a.value %>
    </div>
  <% end %>
</div>

<div class="flex flex-row justify-between gap-12 px-4 py-4 w-full bg-nord5 text-nord0">
  <div class="flex flex-col">
    <strong>Owner</strong>
    <div> @req.user_name </div>
    <div> @req.user_office_symbol </div>
    <div> @req.user_work_phone_number </div>
    <div> @req.user_email </div>
  </div>
  <div class="grid grid-cols-3 md:grid-cols-6 justify-between self-center gap-4 content-between bg-nord5 text-nord0">
    <div class="field flex flex-col">
      <strong>MoP:</strong>
      <%= @req.method_of_purchase %>
    </div>
    <div class="field flex flex-col">
      <strong>Op Ent</strong>
      <%= @req.operating_entity %>
    </div> 
    <div class="field flex flex-col">
      <strong>Group:</strong>
      <%= @req.group %>
    </div> 
    <div class="field flex flex-col">
      <strong>Unit:</strong>
      <%= @req.unit %>
    </div> 
    <div class="field flex flex-col">
      <strong>Line:</strong> 
      <%= @req.pec %>
      <%= @req.cost_center %>
      <%= @req.eeic %>
    </div> 
    <div class="field flex flex-col">
      <strong>Priority:</strong>
      <%= @req.priority_level %>
    </div> 
  </div>
</div>

