<p id="notice"><%= notice %></p>
<h1 class="flex flex-row justify-between between space-x-16 px-8 py-8 bg-nord5 text-nord0 w-full">
  <div><%= link_to 'Back', reqs_path %></div>
  <div><%= @req.title %> | $<%= @req.funding_secured %>/$<%= @req.req_total %></div>
  <div><%= link_to 'Edit', edit_req_path(@req) %> </div>
</h1>
<div class="flex flex-row justify-between space-x-2 w-full bg-nord5 text-nord0">
  <div class="flex flex-col">
    <strong>Owner</strong>
    <div><%= @req.name %></div>
    <div><%= @req.office_symbol %></div>
    <div><%= @req.work_phone_number %></div>
    <div><%= @req.email %></div>
  </div>
  <div class="grid grid-cols-3 md:grid-cols-6 bg-nord5 text-nord0">
    <div>Method of Purchase: <%= @req.method_of_purchase %></div>
    <div><%= @req.is_18SA_or_F6790? %></div> 
    <div>Group: <%= @req.group %></div> 
    <div>Unit: <%= @req.unit %></div> 
    <div>Line: <%= @req.pec %> <%= @req.rccc %> <%= @req.eeic %></div> 
    <div>POC: <%= @req.point_of_contact %></div> 
  </div>
</div>
  </p>

<p>
  <strong>18SA or F6790?</strong>
  
</p>

<p>
  <strong>Group:</strong>
  
</p>

<p>
  <strong>Unit:</strong>
  
</p>

<p>
  <strong>PEC:</strong>
  
</p>

<p>
  <strong>RCCC</strong>
  
</p>

<p>
  <strong>EEIC</strong>
  
</p>

<p>
  <strong>Point of Contact:</strong>

</p>
</div>
<p>
  <strong>Pitch:</strong>
  <%= @req.pitch %>
</p>

<p>
  <strong>What is the problem you are trying to solve?</strong>
  <%= @req.problem %>
</p>

<p>
  <strong>What is the solution to your problem?</strong>
  <%= @req.solution %>
</p>

<p>
  <strong>Where are you at on implementing your solution?</strong>
  <%= @req.solution_progress %>
</p>

<p>
  <strong>What is the mission impact of your problem?</strong>
  <%= @req.mission_impact %>
</p>

<p>
  <strong>Have you attempted to "self-help" your problem?</strong>
  <%= @req.attempted_self_help %>
</p>

<p>
  <strong>How are you currently dealing with your problem? How are your resources and time being spent now?</strong>
  <%= @req.current_working_solution %>
</p>

<p>
  <strong>Why should money be invested in your project, rather than using a workaround?</strong>
  <%= @req.investment_vs_workaround %>
</p>

