<% @title=(@req.title + " Details") %>
<div class="p-6 mr-2 float-left">
  <%= render @req %>
  <div class="border border-nord5 mt-4">
    <div class="flex flex-col text-nord5 text-center mt-2">
      <strong class="mb-2">Owner</strong>
      <div><%= @req.user_name %></div>
      <div><%= @req.user_office_symbol %></div>
      <div><%= @req.user_work_phone_number %></div>
      <div><%= @req.user_email %></div>
    </div>
    <div class="flex flex-col text-nord5 text-center m-4">
     <strong class="mb-2">POC:</strong>
     <%= @req.point_of_contact %>
    </div>
  </div>
</div>
<div class="text-nord5 px-4 py-4">
  <% @req.answers.each do |a|  %>
    <div class="flex flex-col pb-2 ">
      <strong class="m-2 mb-0 text-lg"><%= a.question.text %></strong>
      <p class="border-l border-nord5 m-2 pl-4 text-lg">
        <%= a.value %>
      </p>
    </div>
  <% end %>
</div>

