<% @title=@req.title %>
<%= render "shared/navbar" %>
<div class="grid grid-cols-1 md:grid-cols-2 text-nord5 px-4 py-4 gap-2">
  <% @req.answers.each do |a|  %>
    <div class="flex flex-col ">
      <strong><%= a.question.question %></strong>
      <%= a.answer %>
    </div>
  <% end  %> 
  <div class="flex flex-col ">
    <strong>Pitch:</strong>
    <%= @req.pitch %>
  </div>
  <div class="flex flex-col">
    <strong>What is the problem you are trying to solve?</strong>
    <%= @req.problem %>
  </div>
  <div class="flex flex-col">
    <strong>What is the solution to your problem?</strong>
    <%= @req.solution %>
  </div>
  <div class="flex flex-col">
    <strong>Where are you at on implementing your solution?</strong>
    <%= @req.solution_progress %>
  </div>
  <div class="flex flex-col">
    <strong>What is the mission impact of your problem?</strong>
    <%= @req.mission_impact %>
  </div>
  <div class="flex flex-col">
    <strong>Have you attempted to "self-help" your problem?</strong>
    <%= @req.attempted_self_help %>
  </div>
  <div class="flex flex-col">
    <strong>How are you currently dealing with your problem? How are your resources and time being spent now?</strong>
    <%= @req.current_working_solution %>
  </div>
  <div class="flex flex-col">
    <strong>Why should money be invested in your project, rather than using a workaround?</strong>
    <%= @req.investment_vs_workaround %>
  </div>
</div>

<div class="flex flex-row justify-between gap-12 px-4 py-4 w-full bg-nord5 text-nord0">
  <div class="flex flex-col">
    <strong>Owner</strong>
    <div><%= @req.user_name %></div>
    <div><%= @req.user_office_symbol %></div>
    <div><%= @req.user_work_phone_number %></div>
    <div><%= @req.user_email %></div>
  </div>
  <div class="grid grid-cols-3 md:grid-cols-6 justify-between self-center gap-4 content-between bg-nord5 text-nord0">
    <div class="field flex flex-col">
      <strong>MoP:</strong>
      <%= @req.method_of_purchase %>
    </div>
    <div class="field flex flex-col">
      <strong>CC</strong>
      <%= @req.is_18SA_or_F6790 %>
    </div> 
    <div class="field flex flex-col">
      <strong>Group:</strong>
      <%= @req.group %>
    </div> 
    <div class="field flex flex-col">
      <strong>Unit:</strong>
      <%= @req.unit %>
    </div> 
    <div class="field flex flex-col">
      <strong>Line:</strong> 
      <%= @req.pec %>
      <%= @req.rccc %>
      <%= @req.eeic %>
    </div> 
    <div class="field flex flex-col">
      <strong>POC:</strong>
      <%= @req.point_of_contact %>
    </div> 
  </div>
</div>

