<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <h2 class="notice bg-nord5 text-nord0"><%= notice %></h2>
    <h2 class="alert bg-nord5 text-nord0"><%= alert %></h2>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-nord0">
    <%= yield %>
  </body>
</html>
